# Ignore OS and editor files
.DS_Store
Thumbs.db
/*~

# Java/Gradle/Maven
target/
build/
*.class
*.jar
*.war

# Go
bin/

# Node
node_modules/

# IDEs
.idea/
.vscode/

# docker-compose artifacts
*.log
*.pid

# Postgres data volume (on shutdown)
data/
